@import url(https://fonts.googleapis.com/css?family=Raleway:400,100,200,300);
html, body {
  background-color: rgba(0,0,0,0);
  color: #232323;
  font-family: 'Raleway', sans-serif !important;
  height: 90vh;
}
html .wrapper, body .wrapper {
  width: 1000px;
  margin: 0 auto;
  text-align: center;
}
html .wrapper .row, body .wrapper .row {
  margin: 100px auto;
}
html .wrapper .btn-yellow, html .wrapper .btn-red, html .wrapper .btn-blue, html .wrapper .btn-purple, html .wrapper .btn-green, html .wrapper .btn-pink, html .wrapper .btn-lime, html .wrapper .btn-aqua, html .wrapper .btn-orange, html .wrapper .btn-gold, html .wrapper .btn-grey, body .wrapper .btn-yellow, body .wrapper .btn-red, body .wrapper .btn-blue, body .wrapper .btn-purple, body .wrapper .btn-green, body .wrapper .btn-pink, body .wrapper .btn-lime, body .wrapper .btn-aqua, body .wrapper .btn-orange, body .wrapper .btn-gold, body .wrapper .btn-grey {
  position: relative;
  border: 6px solid #232323;
  z-index: 2;
  padding: 12px 22px;
  margin: 0 10px;
  box-sizing: border-box;
  font-size: 26px;
  font-weight: 600;
  text-transform: uppercase;
  text-decoration: none;
  color: #232323;
}
html .wrapper .btn-yellow:hover:before, html .wrapper .btn-red:hover:before, html .wrapper .btn-blue:hover:before, html .wrapper .btn-purple:hover:before, html .wrapper .btn-green:hover:before, html .wrapper .btn-pink:hover:before, html .wrapper .btn-lime:hover:before, html .wrapper .btn-aqua:hover:before, html .wrapper .btn-orange:hover:before, html .wrapper .btn-gold:hover:before, html .wrapper .btn-grey:hover:before, body .wrapper .btn-yellow:hover:before, body .wrapper .btn-red:hover:before, body .wrapper .btn-blue:hover:before, body .wrapper .btn-purple:hover:before, body .wrapper .btn-green:hover:before, body .wrapper .btn-pink:hover:before, body .wrapper .btn-lime:hover:before, body .wrapper .btn-aqua:hover:before, body .wrapper .btn-orange:hover:before, body .wrapper .btn-gold:hover:before, body .wrapper .btn-grey:hover:before {
  top: 0;
  left: 0;
  width: 102%;
  height: 100%;
}
html .wrapper .btn-yellow:active:before, html .wrapper .btn-red:active:before, html .wrapper .btn-blue:active:before, html .wrapper .btn-purple:active:before, html .wrapper .btn-green:active:before, html .wrapper .btn-pink:active:before, html .wrapper .btn-lime:active:before, html .wrapper .btn-aqua:active:before, html .wrapper .btn-orange:active:before, html .wrapper .btn-gold:active:before, html .wrapper .btn-grey:active:before, body .wrapper .btn-yellow:active:before, body .wrapper .btn-red:active:before, body .wrapper .btn-blue:active:before, body .wrapper .btn-purple:active:before, body .wrapper .btn-green:active:before, body .wrapper .btn-pink:active:before, body .wrapper .btn-lime:active:before, body .wrapper .btn-aqua:active:before, body .wrapper .btn-orange:active:before, body .wrapper .btn-gold:active:before, body .wrapper .btn-grey:active:before {
  top: -10px;
  left: 18px;
  width: 102%;
  height: 100%;
}
html .wrapper .btn-yellow:before, html .wrapper .btn-red:before, html .wrapper .btn-blue:before, html .wrapper .btn-purple:before, html .wrapper .btn-green:before, html .wrapper .btn-pink:before, html .wrapper .btn-lime:before, html .wrapper .btn-aqua:before, html .wrapper .btn-orange:before, html .wrapper .btn-gold:before, html .wrapper .btn-grey:before, body .wrapper .btn-yellow:before, body .wrapper .btn-red:before, body .wrapper .btn-blue:before, body .wrapper .btn-purple:before, body .wrapper .btn-green:before, body .wrapper .btn-pink:before, body .wrapper .btn-lime:before, body .wrapper .btn-aqua:before, body .wrapper .btn-orange:before, body .wrapper .btn-gold:before, body .wrapper .btn-grey:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 12px;
  left: -14px;
  width: calc(100% + 6px);
  height: calc(100% + 6px);
  background-color: #f9d159;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
html .wrapper .btn-red:before, body .wrapper .btn-red:before {
  background-color: #e45050;
}
html .wrapper .btn-blue:before, body .wrapper .btn-blue:before {
  background-color: #58a9ee;
}
html .wrapper .btn-purple:before, body .wrapper .btn-purple:before {
  background-color: #bc79e7;
}
html .wrapper .btn-green:before, body .wrapper .btn-green:before {
  background-color: #36bf73;
}
html .wrapper .btn-pink:before, body .wrapper .btn-pink:before {
  background-color: #e855cb;
}
html .wrapper .btn-lime:before, body .wrapper .btn-lime:before {
  background-color: #a4f478;
}
html .wrapper .btn-aqua:before, body .wrapper .btn-aqua:before {
  background-color: #5af3f5;
}
html .wrapper .btn-orange:before, body .wrapper .btn-orange:before {
  background-color: #dc612b;
}
html .wrapper .btn-gold:before, body .wrapper .btn-gold:before {
  background-color: #c5ac47;
}
html .wrapper .btn-grey:before, body .wrapper .btn-grey:before {
  background-color: #a8a8a1;
}


$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  padding: 0;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  margin-bottom: 10px;
  padding-left: 0 !important;
  padding-right: 0 !important;

  /* Make the masthead heading the same height as the navigation */
  h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
  }
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: rgba(0, 0, 0, 0.8);
  background-color: rgba(255, 255, 255, .9);
  bottom: 0;
  margin: 25px -15px -15px -15px;
}


.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;

  .btn {
    font-size: 21px;
    padding: 14px 24px;
  }
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;

  p + h4 {
    margin-top: 28px;
  }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}


#tabWrapper {
  float: left;
  width: 100%;
  font-size: 14px;
  line-height: 20px;
  color: #666;
  margin: -8px 0 0 20px;
}

.tabs {
  position: relative;

  &:before {
	position: absolute;
	content: '';
	width: 100%;
	height: 5px;
	border-top: 1px #e0e0e0 solid;
	top: 28px;
	left: -20px;
	z-index: 2;
  }
}

.tab {
  margin-top: 30px;
  float: left;
}

.tab-label {
  position: relative;
  display: inline-block;
  height: 30px;
  line-height: 30px;
  float: left;
  color: #51324e;
  margin: -30px 0 0 0;
  padding: 0 12px;
  background: #f7f7f7;
  border-top: 1px #e0e0e0 solid;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  cursor: pointer;
  z-index: 0;

  &:before {
	content: ' ';
	position: absolute;
	left: -3px;
	top: 3px;
	bottom: 2px;
	width: 10px;
	transform: rotate(14deg);
	border-left: 1px solid #e0e0e0;
	background: #f7f7f7;
	z-index: -1;
  }
  &:after {
	content: '';
	position: absolute;
	right: -3px;
	top: 3px;
	bottom: 2px;
	width: 10px;
	transform: rotate(-14deg);
	border-right: 1px solid #e0e0e0;
	background: #f7f7f7;
	z-index: -1;
  }
  &:first-child {
	.tab-label {
	  margin-left: 10px;
	}
  }
}

.tab-content {
  position: absolute;
  left: 0;
  top: 40px;
  bottom: 0;
  left: 10px;
  right: 10px;
  opacity: 0;
  z-index: 0;
  transition: all 0.5s ease 0s;
}
.tab > input[type=radio] {
  display: none;

  &:checked {
	~ .tab-label {
	  color: #666;
	  z-index: 2;
	  margin-top: -35px;
	  height: 37px;
	  line-height: 35px;
	}
	~ .tab-content {
	  opacity: 1;
	  z-index: 2;
	}
  }
}

.staffTab{
	padding: 0 0 2px 0;
}

.staffRequestStatus{
  clear: both;
  margin-bottom: 15px;
}

.request-search-icon{
  margin-top: -5px;
}

.requestTitleBar{
  margin-bottom: 15px;
}

#close-request-search-form{
  z-index: 50;
}

.suiteServicesIcon{
  background-image: url('../images/concierge.png');
  background-size: 16px;
  background-repeat: no-repeat;
  height: 50px;
  width: 20px;
  float: left;
  display: block;
}

#request-count{
  padding-bottom: 25px;
}

$sphere-diameter: 30px;
$line-width: 50px;
$line-height: 25px;
$line-margin: ($sphere-diameter - $line-height) / 2;

.switch {
  position: absolute;
  margin-left: -55px;
  height: $sphere-diameter;
  width: ($line-margin * 2) + $line-width;
  cursor: pointer;
}

.line {
  position: absolute;
  background-color: #51324e;
  width: $line-width;
  height: $line-height;
  margin: $line-margin;
  border-radius: 100px;
  transition: background-color linear;
}

.sphere {
  position: absolute;
  height: $sphere-diameter;
  width: $sphere-diameter;
  border-radius: 50%;
  background-color: #9e6198;
  left: 0px;
  transition: all 1s;
  box-shadow: 3px 2px 5px rgba(#2E2E2E, 0.5);
}

.activated {
  .sphere {
	left: ($line-width - ($sphere-diameter - ($line-margin * 2)));
  }
  .status {
	color: transparent;
	margin-left: 8px;
  }
  .status:before{
	content: "ON";
	color: white;
  }
}

.status{
  color: white;
  text-align: center;
  margin-top: 8px;
  font-size: 10px;
}

.staffUserStatus{
  margin-right: 72px;
}

@import url(http://fonts.googleapis.com/css?family=Roboto:400,900,700,500);
@import url('https://fonts.googleapis.com/css?family=Pacifico');
@import url('https://fonts.googleapis.com/css?family=Chewy');
@import url(http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css);
.psevdo {
  content: '';
  position: absolute;
}
nav {
  width: 600px;
  font: 12px 'Roboto', sans-serif;
  color: #8e8171;
  z-index: 5;
}
nav ul {
  position: absolute;
  list-style: none;
  height: 50px;
  border-radius: 5px;
  width: 640px;
  overflow: hidden;
}
nav li {
  width: 160px;
  text-align: center;
  display: inline-block;
  float: left;
  position: relative;
  box-sizing: border-box;
  overflow: hidden;
  border-right: 1px solid #f5f0ec;
  transition: all .3s;
}
nav li:before {
  content: '';
  position: absolute;
  background-color: #4daf7c;
  width: 100%;
  height: 0;
  left: 0;
  bottom: 0;
  transition: height .3s;
}
nav li:hover:before,
nav li:focus:before {
  height: 3px;
}
nav li:hover,
nav li:focus {
  background-color: #f8f3f0;
}
nav a {
  vertical-align: middle;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
  color: #876b53;
  position: relative;
}
nav i.fa {
  font-size: 30px;
  line-height: 65px;
  vertical-align: middle;
  margin-right: 15px;
}
nav .count {
  height: 13px;
  width: 13px;
  font-size: 7px;
  color: #fff;
  background-color: #e35f39;
  border-radius: 50%;
  display: inline-block;
  line-height: 13px;
  position: absolute;
  top: -8px;
}
.login {
  margin: 30px auto;
  width: 300px;
  height: 420px;
  background: #fff;
  padding: 0 30px;
  box-sizing: border-box;
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
  position: relative;
  overflow: hidden;
}
.login .title {
  padding-top: 40px;
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 18px;
  color: #8e8171;
}
.login form {
  margin-top: 30px;
  height: 255px;
}
.login form .submit {
  border: none;
  background: linear-gradient(#ea704b, #e75e34);
  width: 100%;
  height: 44px;
  font-size: 17px;
  text-align: center;
  line-height: 44px;
  border-radius: 3px;
  color: #fff;
  border-top: 1px solid #f2a690;
  box-shadow: 0 0 0 1px #d04318, 0 3px 3px rgba(0, 0, 0, 0.3);
  position: relative;
  transition: color .1s;
  cursor: pointer;
}
.login form .submit:focus,
.login form .submit:hover {
  background: linear-gradient(#eb7754, #e8653d);
}
.login form .submit:active {
  border-top-color: transparent;
  background: #e2491a;
  color: #b93c16;
  text-shadow: 0 0.5px rgba(255, 255, 255, 0.4);
  box-shadow: 0 0 0 1px #d04318, inset 0 0 10px rgba(0, 0, 0, 0.1);
}
.login form .submit:active:before {
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
  background-color: #de481a;
}
.login form .submit:before {
  content: '';
  position: absolute;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background-color: #e65326;
  top: 12px;
  left: 62px;
}
.login form .submit:after {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  border-left: 5px solid #fff;
  border-top: 2.5px solid transparent;
  border-bottom: 2.5px solid transparent;
  left: 70px;
  top: 19.5px;
}
.login form span {
  margin-left: 5px;
}
.login form div.pass {
  margin-bottom: 40px;
}
.login form .input {
  border-radius: 5px;
  border: 1px solid #e5d4c2;
  height: 46px;
  overflow: hidden;
  margin-bottom: 20px;
}
.login form .input .icon {
  height: 46px;
  width: 46px;
  display: inline-block;
  background-color: #f9ece4;
  text-align: center;
}
.login form .input .icon i.fa {
  font-size: 18px;
  vertical-align: middle;
  line-height: 44px;
  color: #dfc5ae;
}
.login form .input input {
  border: none;
  border-left: 1px solid #e5d4c2;
  height: 100%;
  outline: none;
  padding-left: 16px;
  float: right;
  width: calc(100% - 63px);
}
.login form .input input:focus {
  border-left: 1px solid #e86740;
}
.login form .input input:focus .input {
  border: 1px solid #e86740;
}
.login form .input input:focus .icon {
  background-color: #f9ece4;
}
.login form .input input:focus i.fa {
  color: #eda58f;
}
.login a {
  text-align: center;
  font-size: 10px;
  margin-top: -5.5px;
  width: 100%;
  display: inline-block;
  background: #f8f3f0;
  box-shadow: 0 0 0 83px #f8f3f0;
}
.login .fb {
  height: 38px;
  width: 100%;
  left: 0;
  bottom: 0;
  position: absolute;
  text-align: center;
  background-color: #5f90b0;
  color: #fff;
  font-size: 10px;
  line-height: 38px;
  cursor: pointer;
}
.login .fb i.fa {
  font-size: 15px;
  vertical-align: middle;
}

.pacifico{
  font-family: 'Pacifico', cursive;
  color: white;
}

.headerText, .slogan{
  font-family: 'Raleway', sans-serif;
  color: white;
}

.slogan{
  padding-bottom: 5px;
  border-bottom: 1px solid white;
}

.suiteServicesLogo{
  margin: 0 0 0 15px;
}

input {
  font: 16px/26px "Raleway", sans-serif;
}

.login-register{
  background-color: #f1f2f2;
}

.form-wrap {
    background-color: #fff;
    width: 100%;
    margin: auto auto;
    box-shadow: 0px 1px 8px #BEBEBE;
    -webkit-box-shadow: 0px 1px 8px #BEBEBE;
    -moz-box-shadow: 0px 1px 8px #BEBEBE;
  }

  .form-wrap .tabs-login {
    overflow: hidden;
  }

  .form-wrap .tabs-login h3 {
    float: left;
    width: 50%;
  }

  .form-wrap .tabs-login h3 a {
    padding: 0.5em 0;
    text-align: center;
    font-weight: 400;
    background-color: #e6e7e8;
    display: block;
    color: #666;
  }

  .form-wrap .tabs-login h3 a.active {
    background-color: #fff;
  }

  .form-wrap .tabs-content {
    padding: 1.5em;
  }

  .form-wrap .tabs-content div[id$="tab-content"] {
    display: none;
  }

  .form-wrap .tabs-content .active {
    display: block !important;
  }

  .form-wrap form .input {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    color: inherit;
    font-family: inherit;
    padding: .8em 0 10px .8em;
    border: 1px solid #CFCFCF;
    outline: 0;
    display: inline-block;
    margin: 0 0 .8em 0;
    padding-right: 2em;
    width: 100%;
  }

  .form-wrap form .button {
    width: 100%;
    padding: .8em 0 10px .8em;
    background-color: #28A55F;
    border: none;
    color: #fff;
    cursor: pointer;
    text-transform: uppercase;
  }

  .form-wrap form .button:hover {
    background-color: #4FDA8C;
  }

  .form-wrap form .checkbox {
    visibility: hidden;
    padding: 20px;
    margin: .5em 0 1.5em;
  }

  .form-wrap form .checkbox:checked + label:after {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    opacity: 1;
  }

  .form-wrap form label[for] {
    position: relative;
    padding-left: 20px;
    cursor: pointer;
  }

  .form-wrap form label[for]:before {
    content: '';
    position: absolute;
    border: 1px solid #CFCFCF;
    width: 17px;
    height: 17px;
    top: 0px;
    left: -14px;
  }

  .form-wrap form label[for]:after {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    opacity: 0;
    content: '';
    position: absolute;
    width: 9px;
    height: 5px;
    background-color: transparent;
    top: 4px;
    left: -10px;
    border: 3px solid #28A55F;
    border-top: none;
    border-right: none;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }

  .form-wrap .help-text {
    margin-top: .6em;
  }

  .form-wrap .help-text p {
    text-align: center;
    font-size: 14px;
  }

 .continueGuest{
  display: block;
  width: 100%;
  font-size: 24px;
  font-weight: 400;
  margin-bottom: -20px;
  color: #fff;
  background-color: #9B9B9B;
  border: none;
  box-shadow: 0px 2px 5px -2px #323232;
  cursor: pointer;
  transition: all 0.3s;

  &:hover {
    background-color: #777;
  }
 }

 .videobg{
  background-color: #221f1a !important;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='40' height='40' viewBox='0 0 40 40'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%23e86e6e' fill-opacity='0.44'%3E%3Cpath d='M0 38.59l2.83-2.83 1.41 1.41L1.41 40H0v-1.41zM0 1.4l2.83 2.83 1.41-1.41L1.41 0H0v1.41zM38.59 40l-2.83-2.83 1.41-1.41L40 38.59V40h-1.41zM40 1.41l-2.83 2.83-1.41-1.41L38.59 0H40v1.41zM20 18.6l2.83-2.83 1.41 1.41L21.41 20l2.83 2.83-1.41 1.41L20 21.41l-2.83 2.83-1.41-1.41L18.59 20l-2.83-2.83 1.41-1.41L20 18.59z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
 }

#remember_me{
  display: inline !important;
}

.hotelTip{
  color: black;
  text-align: center;
}


$margin: 32px;
$margin-vertical: $margin * 0.85;

$col-secondary: #ed4e7c;
$col-primary: #444;

$content-width: 480px;
$banner-height: 195px;

.button {
	padding: 0.5em 1.5em;

	border: 1px solid;
	border-radius: 0.5em;
	cursor: pointer;

	transition: background 0.2s, color 0.2s;

	&:hover {
		background: white;
		color: $col-primary;
	}
}

.main {
	width: $content-width;
	margin: 70px auto;

	color: white;

	background: rgba(#6eaecf, 0.15);
}

.banner {
	box-sizing: border-box;
	height: $banner-height;
	margin: 0 -15px;
	color: white;
	border: 1px solid black;
}

.banner-content {
	box-sizing: border-box;
	zoom: 50%;
	max-width: ($content-width - $banner-height);
	min-width: ($content-width - $banner-height) / 2;
	height: 195px;
	position: relative;
	padding: $margin-vertical $margin;
	float: right;

	text-align: right;

	background: $col-primary;

	&:before {
		content: '';
		display: block;
		position: absolute;
		right: 99%;
		top: 0;
		border-style: solid;
		border-color: transparent;
		border-right-color: $col-primary;
		border-width: 0 $banner-height $banner-height $banner-height;
		z-index: 0;
	}

	&>* {
		z-index: 1;
		position: relative;
		float: right;
	}

	&>*:nth-child(1) {
		width: 300%;
		float: right;
	}

	&>*:nth-child(2) {
		width: 260%;
	}
}

.banner-button {
	position: absolute;
	bottom: $margin;
	right: $margin;
	color: gold;
}

.tabs {
	display: flex;
	flex-direction: row;
}

.tab {
	flex-grow: 1;

	text-align: center;
	font-weight: 300;

	a {
		display: block;
		padding: $margin;

		cursor: pointer;
	}

	&:hover,
	&.selected {
		color: $col-primary;
	}
}

.tab-panes {
	padding: 0 $margin $margin;
}

.skills-radar {
	width: 90%;
	height: 300px;
	margin: 0 auto;
	display: block;
}

// Nothing but data URL after this
.banner {
	background-size: 100% 100%;
	height: 100px;
	margin-bottom: 5px;
}

.navbar-toggle{
  float: left !important;
  margin-left: 15px;
}

.navbar-default{
  background-color: rgba(255, 255, 255, .9);
  border: none !important;
}

.navbar-brand{
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
  font-size: 22px;
  justify-content: space-between;
}

.banner-food{
  padding-top: 25px;
  border: none;
}

.banner-menu{
  padding-bottom: 15px;
  & > a{
    display: inline-grid;
    text-decoration: none;
  }
  & > a > img{
    width: 100%;
    height: 80px;
  }

  & > a > div > h3{
    color: white;
    padding-top: 3px;
    font-size: 34px;
  }

  & > a > div{
    margin-top: -100px;
  }

  & > a > div > h4{
    color: #b7d962;
    font-size: 20px;
    font-weight: 300;
  }

  & > a > div > h3,h4{
    margin-left: 15px;
  }
}

.sidenav {
    background-color: #fff;
    bottom: 0;
    /* display: none; */
    opacity: 0;
    position: fixed;
    left: calc(100% - 320px);
    top: 0;
    visibility: hidden;
    transform: translateX(100%);
    transition: all 0.3s ease-in-out;
    width: 320px;
    z-index: -1;

    .sidenav--header {
        background-color: #efefef;
        overflow: hidden;
        padding: 0;

        h3 {
            margin: 0;
        }
    }

    .close-sidenav {
        background-color: #d8d8d8;
        border-right: 1px solid #fff;
        color: #aaa;
        cursor: pointer;
        display: inline-block;
        margin-right: 0.5em;
        padding: 10px;
        transition: all 0.2s ease-in-out;

        &:hover {
            color: #444;
        }
    }

    .cart-item {
        padding: 10px;
    }

    .cart-item--thumb {
        margin-right: 10px;
    }

    .cart-item--description {
        display: inline-block;
        vertical-align: top;

        h4 {
            font-size: 14px;
        }

        p {
            font-size: 12px;
        }
    }

    &.active {
        /* display: block; */
        opacity: 1;
        transform: translateX(0);
        visibility: visible;
        z-index: 10;
        box-shadow: -5px 0 30px 0 rgba(100, 100, 100, 0.2);

        .cart-item {
            font-size: 0;
            overflow: auto;

            .cart-item--thumb {
                display: inline-block;
                max-width: 100%;
                vertical-align: top;
            }
        }
    }
}

.overlay {
    background-color: transparent;
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
    visibility: hidden;

    &.active {
        background-color: rgba(50, 50, 50, 0.5);
        bottom: 0;
        display: block;
        height: 100%;
        left: 0;
        opacity: 1;
        position: fixed;
        right: 0;
        top: 0;
        visibility: visible;
        z-index: 5;
    }
}

.cart-quantity{
  float: right;
}

#toggle-basket {
	position: relative;
	float: right;
	background-position: -120px 0;
}

.header-button {
	@include box-sizing(border-box);
	@include hide-text();
	position: relative;
	z-index: 1;
	display: block;
	width: 60px;
	color: black;
	height: 60px;
	margin: 0;
	padding: 0;
	filter: invert(100%);
  outline: none;
	background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAALQAAAA8CAQAAABlJ1gMAAABfElEQVR42u3ZsU7CUBhA4U6Iib5IITigOzMzzwUMmNA3MRofwMSRCDB1MPIAOoDBHAch0VhUCb2Ecr4uBJb23Oa/FKJIkiRJkiRJkiRJygENElJSEhpEmxz6W+Z7Vu43S71PlxvTZsiMGQ+0iTe7szY6EuCOmJg7IClwaEr0eOOzN/ocBwqdwnJhYyAtbGhK3ACQcEGZMhckANxSChIayHxduNCXwISzL6deYQT0Chma3+RzmRUWQO3b+2fAgkrOgbd0vfsQurN2A0qATgFD72hwDIHzzNM/B4YBRkbW6Chg6DlwlHn6R8Dc0PmHPgWeA22C//lsT2f0+tFRBwaGDrMZdgsYekejo7rm610NWFA1dIgHlqtgDyoHEXr1CN6nTokT6vQBgAktZ/Q2j6wfla6ZAOMcUx9g6I9h0WXEKy8M6FIlosU419SHNjp+WPp8Uxs6UGpDZ6Y2dJDUedzRTz/uSFP/nN3WAjaZrs38SNPQkiRJkiRJkiRJKoB36w+U2Cj/A/EAAAAASUVORK5CYII=');
	border: none;
	cursor: pointer;
}

.hide{
  display: none;
}

.cd-cart {
	right: 0;
	top: 40px;
	z-index: 100;
	width: 65%;
	position: absolute;
	border: 2px solid black;
	background: #FFF;

	@include transition(right .3s);

	&.speed-in {
		right: 0;
	}

	> * {
		padding: 0 1em;
	}

	.cd-cart-items {
		padding: 0;

		li {
			position: relative;
			list-style: none;
			padding: 1em;
			border-top: 1px solid black;

			&:last-child {
				border-bottom: 1px solid black;
			}
		}
	}

	.cd-qty, .cd-price {
		color: #fff;
	}

	.cd-price {
		margin-top: .4em;
	}

	.cd-item-remove {
		position: absolute;
		right: 1em;
		width: 32px;
		height: 32px;
		border-radius: 50%;
		background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/148866/cd-remove-item.svg') no-repeat center center;

		.no-touch &:hover {
			background-color: black;
		}
	}

	.cd-cart-total {
		padding-top: 1em;
		padding-bottom: 1em;

		span {
			float: right;
		}

		&::after { /* clearfix */
			content: '';
			display: table;
			clear: both;
		}
	}

	.checkout-btn {
		display: block;
		width: 100%;
		height: 60px;
		line-height: 60px;
		background: green;
		color: #FFF;
		border: 0;
		text-align: center;

		.no-touch &:hover {
			background: lighten(green, 10%);
		}
	}

	.inactive{
    background: grey;
    font-style: italic;
    font: 14px 'Roboto', sans-serif;
  }

	.cd-go-to-cart {
		text-align: center;
		margin: 1em 0;

		a {
			text-decoration: underline;
		}
	}
}

.notification {
  display: inline-block;
  font-size: 22px;
  margin-top: 20px;
  color: white;
  text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
}

.unread {
  display: inline-block;
  color: white;
  font-size: 10px;
  background-color: rgba(0, 0, 0, 0.2);
  min-width: 25px;
  margin-right: -25px;
  text-align: center;
  padding: 2px 3px;
  border-radius: 30px;
  position: relative;
  bottom: 20px;
  right: 8px;
  animation-delay: 1s;
  animation-duration: 0.3s;
}

.unread-bag{
  display: inline-block;
  color: white;
  font-size: 10px;
  background-color: rgba(0, 0, 0, 0.2);
  min-width: 25px;
  margin-right: -25px;
  text-align: center;
  padding: 2px 3px;
  border-radius: 30px;
  position: relative;
  bottom: 55px;
  right: -35px;
  animation-delay: 1s;
  animation-duration: 0.3s;
}

.button-default {
  -webkit-transition: 0.25s ease-out 0.1s color;
  -moz-transition: 0.25s ease-out 0.1s color;
  -o-transition: 0.25s ease-out 0.1s color;
  transition: 0.25s ease-out 0.1s color;
  background: transparent;
  border: none;
  cursor: pointer;
  font-size: 16px;
  margin: 0;
  float: right;
  outline: none;
  position: relative;
}
.show-notifications {
  position: relative;
}
.show-notifications.active{
  opacity: 1;
  top: 60px;
}
.notifications {
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  -moz-background-clip: padding-box;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  -webkit-transition: 0.25s ease-out 0.1s opacity;
  -moz-transition: 0.25s ease-out 0.1s opacity;
  -o-transition: 0.25s ease-out 0.1s opacity;
  transition: 0.25s ease-out 0.1s opacity;
  background: #ecf0f1;
  border: 1px solid #bdc3c7;
  left: 10px;
  opacity: 0;
  position: absolute;
  top: -999px;
}
.notifications:after {
  border: 10px solid transparent;
  border-bottom-color: #3498db;
  content: '';
  display: block;
  height: 0;
  left: 10px;
  position: absolute;
  top: -20px;
  width: 0;
}
.notifications .show-all {
  display: block;
  text-align: center;
  text-decoration: none;
}
.notifications .show-all:hover,
.notifications .show-all:focus {
  text-decoration: underline;
}
.notifications .notifications-list {
  list-style: none;
  margin: 0;
  overflow: hidden;
  padding: 0;
}
.notifications .notifications-list .item {
  -webkit-transition: -webkit-transform 0.25s ease-out 0.1s;
  -moz-transition: -moz-transform 0.25s ease-out 0.1s;
  -o-transition: -o-transform 0.25s ease-out 0.1s;
  transition: transform 0.25s ease-out 0.1s;
  border-top: 1px solid #bdc3c7;
  color: #7f8c8d;
  cursor: default;
  display: block;
  padding: 10px;
  position: relative;
  white-space: nowrap;
  width: 350px;
}
.notifications .notifications-list .item:before,
.notifications .notifications-list .item .details,
.notifications .notifications-list .item .button-dismiss {
  display: inline-block;
  vertical-align: middle;
}
li.item{
  list-style: none;
}
.notifications .notifications-list .item:before {
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  -moz-background-clip: padding-box;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  background: #3498db;
  content: '';
  height: 8px;
  width: 8px;
}
.notifications .notifications-list .item .details {
  margin-left: 10px;
  white-space: normal;
  width: 280px;
}
.notifications .notifications-list .item .details .title,
.notifications .notifications-list .item .details .date {
  display: block;
}
.notifications .notifications-list .item .details .date {
  color: #95a5a6;
  font-size: .85em;
  margin-top: 3px;
}
.notifications .notifications-list .item .button-dismiss {
  color: #bdc3c7;
  font-size: 2.25em;
}
.notifications .notifications-list .item .button-dismiss:hover,
.notifications .notifications-list .item .button-dismiss:focus {
  color: #95a5a6;
}
.notifications .notifications-list .item.no-data {
  display: none;
  text-align: center;
}
.notifications .notifications-list .item.no-data:before {
  display: none;
}
.notifications .notifications-list .item.expired {
  color: #bdc3c7;
}
.notifications .notifications-list .item.expired:before {
  background: #bdc3c7;
}
.notifications .notifications-list .item.expired .details .date {
  color: #bdc3c7;
}
.notifications .notifications-list .item.dismissed {
  -webkit-transform: translateX(100%);
  -moz-transform: translateX(100%);
  -ms-transform: translateX(100%);
  -o-transform: translateX(100%);
  transform: translateX(100%);
}
.notifications.empty .notifications-list .no-data {
  display: block;
  padding: 10px;
}
